@import 'normalize.css';

.AddArticle-zone {
  width: 100%;

  .AddArticle-editor {
    margin-bottom: 15px;
  }

  .AddArticle-lengthRestrictionError {
    display: block;
    text-align: right;
    color: #ff7878;
    padding: 5px;
  }

  .AddArticle-lengthRestriction {
    display: block;
    text-align: right;
    color: #666;
    padding: 5px;
  }

  .AddArticle-titleZone {
    // border: 1px solid #46aaff;
    // margin-bottom: 10px;

    .AddArticle-titleLabel {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      text-align: center;
      line-height: 20px;
      padding: 10px;
      background-color: #bfbfbf;
      color: black;
      border-radius: 10px;
      font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial","Microsoft JhengHei",wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,微軟正黑體,"LiHei Pro","WenQuanYi Micro Hei","Droid Sans Fallback","AR PL UMing TW",Roboto,"Helvetica Neue","Hiragino Maru Gothic ProN",メイリオ,"ヒラギノ丸ゴ ProN W4",Meiryo,"Droid Sans",sans-serif;
    }
    .AddArticle-titleInput {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 80px);
      height: 40px;
      margin-left: 10px;
      border-radius: 10px;
      overflow: hidden;
      padding: 10px;
    }
  }

  .AddArticle-errorMessage {
    display: block;
    text-align: center;
    color: #ff7878;
    padding: 10px 0;
  }

  .AddArticle-functionZone {
    position: relative;
    padding: 10px 0;
    height: 60px;

    .AddArticle-switchButton {
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
    }

    .AddArticle-button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      padding: 10px;
      height: 40px;
      color: white;
      background-color: #ff8684;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: yellow;
      }

      .AddArticle-spin {
        transform: rotate(0deg);
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
