@import 'normalize.css';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/keyframes.scss';

.AddArticle-zone {
  width: 100%;
}
.AddArticle-editor {
  margin-bottom: 15px;
}

.AddArticle-lengthRestrictionError {
  display: block;
  text-align: right;
  color: $heavy-red;
  padding: 5px;
}

.AddArticle-lengthRestriction {
  display: block;
  text-align: right;
  color: #666;
  padding: 5px;
}

.AddArticle-titleZone {
  // border: 1px solid #46aaff;
  // margin-bottom: 10px;

  .AddArticle-titleLabel {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    background-color: $light-blue;
    color: black;
    border-radius: 10px;
    font-family: $classical-font-style;
  }
  .AddArticle-titleInput {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
  }
}

.AddArticle-errorMessage {
  display: block;
  text-align: center;
  color: $heavy-red;
  padding: 10px 0;
}

.AddArticle-functionZone {
  position: relative;
  padding: 10px 0;
  height: 60px;

  .AddArticle-switchButton {
    @include position(absolute, $top: 10px, $left: 10px);
    display: inline-block;
  }

  .AddArticle-button {
    @include position(absolute, $top: 10px, $right: 10px);
    display: inline-block;
    padding: 10px;
    height: 40px;
    color: white;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $heavy-yellow;
    }

    .AddArticle-spin {
      transform: rotate(0deg);
      animation: spin 1s linear infinite;
    }
  }
}

