@import 'normalize.css';

$primary-color: black;

.SingleArticle-zone {
  width: 100%;

  .SingleArticle-loadingZone {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;

    svg {
      color: #777;
      font-size: 2em;
      animation: spin 1s linear infinite;
    }
  }

  .SingleArticle-functionZone {
    position: relative;
    padding: 10px 0;
    height: 60px;
    .SingleArticle-button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      padding: 10px;
      height: 40px;
      color: white;
      background-color: #ff8684;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: yellow;
      }
    }
  }

  .SingleArticle-infoZone {
    position: relative;
    padding: 10px;
    background-color: #e45050;
    // border: 1px solid #ccc;

    .SingleArticle-userPicture {
      display: inline-block;
      height: 50px;
      vertical-align: middle;
    }

    .SingleArticle-userName {
      display: inline-block;
      line-height: 50px;
      vertical-align: middle;
      padding: 0 10px;
      color: white;
    }

    .SingleArticle-date {
      position: absolute;
      bottom: 3px;
      right: 3px;
      color: white;
      font-size: 0.6em;
    }
  }

  .SingleArticle-title {
    padding:10px;
    margin: 0;
    font-size: 3em;
    background-color: #e45050;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    // border: 1px solid #ccc;
    font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial","Microsoft JhengHei",wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,微軟正黑體,"LiHei Pro","WenQuanYi Micro Hei","Droid Sans Fallback","AR PL UMing TW",Roboto,"Helvetica Neue","Hiragino Maru Gothic ProN",メイリオ,"ヒラギノ丸ゴ ProN W4",Meiryo,"Droid Sans",sans-serif;
  }

  .SingleArticle-editor {

  }

  .SingleArticle-errorMessage {
    display: block;
    text-align: center;
    color: #ff7878;
    padding: 10px 0;
  }

  .SingleArticle-addCommentZone {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
    height: 210px;

    .SingleArticle-pictureZone {
      position: absolute;
      left: 15px;
      top: 15px;

      .SingleArticle-picture {
        display: inline-block;
        width: 40px;
        height: 40px;
      }
    }

    .SingleArticle-userName {
      display: inline-block;
      position: absolute;
      left: 65px;
      top: 15px;
    }

    .SingleArticle-textAreaZone {
      position: absolute;
      display: inline-block;
      width: calc(100% - 80px);
      left: 60px;
      top: 40px;
      .SingleArticle-textArea {
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
      }
    }

    .SingleArticle-lengthRestriction {
      position: absolute;
      display: inline-block;
      right: 70px;
      bottom: 15px;
    }

    .SingleArticle-addCommentButton {
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 10px;
      padding: 5px;
      border-radius: 5px;
      background-color: #e45050;
      color: white;
      cursor: pointer;

      &:hover {
        color: yellow;
      }

      svg {
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .SingleArticle-pleaseLoginZone {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

    .SingleArticle-pleaseLogin {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fb9944;
      color: white;
    }
  }

  .SingleArticle-commentsZone {
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
}
