@import 'normalize.css';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/keyframes.scss';

.SingleArticle-zone {
  width: 100%;
}

.SingleArticle-loadingZone {
  @extend %flex-center;
  height: 40px;

  svg {
    color: $grey;
    font-size: 2em;
    animation: spin 1s linear infinite;
  }
}

.SingleArticle-functionZone {
  position: relative;
  margin-top: 10px;
  height: 60px;
  .SingleArticle-button {
    @include position(absolute, $top: 10px, $right: 10px);
    display: inline-block;
    padding: 10px;
    height: 40px;
    color: $white;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $heavy-yellow;
    }
  }
}

.SingleArticle-infoZone {
  position: relative;
  padding: 10px;
  background-color: $heavy-red;
  // border: 1px solid #ccc;

  .SingleArticle-userPicture {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
  }

  .SingleArticle-userName {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    color: $white;
  }

  .SingleArticle-date {
    @include position(absolute, $bottom: 3px, $right: 3px);
    color: $white;
    font-size: 0.6em;
  }
}

.SingleArticle-title {
  margin: 10px 0 0 0;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.8em;
  background-color: $heavy-red;
  color: $white;
  // border: 1px solid #ccc;
  font-family: $classical-font-style;
}

.SingleArticle-editor {

}

.SingleArticle-errorMessage {
  display: block;
  text-align: center;
  color: $heavy-red;
  padding: 10px 0;
}

.SingleArticle-addCommentZone {
  margin: 15px 0;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $light-grey;
  position: relative;
  height: 210px;

  .SingleArticle-pictureZone {
    @include position(absolute, $top: 15px, $left: 15px);

    .SingleArticle-picture {
      display: inline-block;
      width: 40px;
      height: 40px;
    }
  }

  .SingleArticle-userName {
    @include position(absolute, $top: 15px, $left: 65px);
    display: inline-block;
  }

  .SingleArticle-textAreaZone {
    @include position(absolute, $top: 40px, $left: 60px);
    display: inline-block;
    width: calc(100% - 80px);

    .SingleArticle-textArea {
      padding: 5px;
      width: 100%;
      border: 1px solid $light-grey;
    }
  }

  .SingleArticle-lengthRestriction {
    @include position(absolute, $bottom: 15px, $right: 70px);
    display: inline-block;
  }

  .SingleArticle-anonymousButton {
    @include position(absolute, $bottom: 5px, $right: 140px);
    display: inline-block;
  }

  .SingleArticle-addCommentButton {
    @include position(absolute, $bottom: 10px, $right: 20px);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: $red;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $heavy-yellow;
    }

    svg {
      animation: spin 1s linear infinite;
    }
  }
}

.SingleArticle-pleaseLoginZone {
  @extend %flex-center;
  height: 50px;
  .SingleArticle-pleaseLogin {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $light-grey;
    background-color: $orange;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $light-orange;
    }
  }
}

.SingleArticle-commentsZone {
  margin: 15px 0;
  border: 1px solid $light-grey;
  border-radius: 10px;
  overflow: hidden;
}

