@import 'normalize.css';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/keyframes.scss';

.UpdateArticle-zone {
  width: 100%;
}

.UpdateArticle-functionZone {
  position: relative;
  padding: 10px 0;
  height: 60px;
  .UpdateArticle-button {
    @include position(absolute, $top: 10px);
    display: inline-block;
    padding: 10px;
    height: 40px;
    color: $white;
    background-color: $red;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: $heavy-yellow;
    }

    .UpdateArticle-spin {
      transform: rotate(0deg);
      animation: spin 1s linear infinite;
    }
  }
  .UpdateArticle-updateButton {
    right: 10px;
  }
  .UpdateArticle-deleteButton {
    right: 120px;
  }
}

.UpdateArticle-errorMessage {
  display: block;
  text-align: center;
  color: $heavy-red;
  padding: 10px 0;
}

.UpdateArticle-titleZone {
  // border: 1px solid #46aaff;
  margin-bottom: 10px;

  .UpdateArticle-titleLabel {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    background-color: $light-blue;
    // color: $white;
    border-radius: 10px;
    font-family: $classical-font-style;
  }
  .UpdateArticle-titleInput {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
  }
}

.UpdateArticle-infoZone {
  position: relative;
  padding: 10px;
  background-color: $red;
  border: 1px solid $light-grey;
  margin-bottom: 10px;

  .UpdateArticle-userPicture {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
  }

  .UpdateArticle-userName {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    color: $white;
  }

  .UpdateArticle-date {
    @include position(absolute, $bottom: 3px, $right: 3px);
    color: $white;
    font-size: 0.6em;
  }
}

.UpdateArticle-titleInput {
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1em;
  background-color: $white;
  border: 1px solid $light-grey;
  font-family: $classical-font-style;
}

.UpdateArticle-editor {

}

