@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/placeholders.scss';
@import '../../../styles/keyframes.scss';

.CommentCard-zone {
	position: relative;
	display: block;
	background: white;
	padding: 10px;
  border-bottom: 1px solid $light-grey;
}

.CommentCard-pictureZone {
  @include position(absolute, $top: 15px, $left: 15px);

  .CommentCard-picture {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}

.CommentCard-userName {
  @include position(absolute, $top: 15px, $left: 65px);
  display: inline-block;
  color: $heavy-grey;
}

.CommentCard-date {
  @include position(absolute, $top: 33px, $left: 65px);
  display: inline-block;
  color: $heavy-grey;
  font-size: 0.8em;
}

.CommentCard-contentZone {
  display: inline-block;
  width: calc(100% - 80px);
  margin-left: 60px;
  margin-top: 40px;

  .CommentCard-content {
    padding: 5px;
    width: 100%;
    white-space: pre-line;
  }
}

