@import '../../../styles/variables.scss';

.TitleSection-titleSection {
  margin: 15px 0;
  padding: 15px 0;
  background: linear-gradient($blue, $blue);
}

.TitleSection-title {
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 1.8em;
}
.TitleSection-text {
  padding: 0 50px;
  color: $white;
}

