@import 'normalize.css';

.SingleChannel-zone {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;

  .SingleChannel-titleZone {
  	position: relative;
    .SingleChannel-countryName {
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 3;
      color: white;
      font-size: 1.5em;
    }
    .SingleChannel-subscriber {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: 3;
    }
  	.SingleChannel-backgroundImage {
  		display: flex;
  		width: 100%;
  		align-items: center;
  		justify-content: center;
  		padding: 0;
  		margin: 0;
      min-height: 200px;
  		img {
  			width: 100%;
  		}
  	}
  	.SingleChannel-photoImage {
  		position: absolute;
  		display: inline-block;
      left: 0;
      top: 0;
      width: 100px;
      z-index: 3;
      img {
        width: 100%;
      }
  	}
    .SingleChannel-decorateZone {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: blue;
      // opacity: 0.1;
      background: linear-gradient(rgba(20, 27, 105, 0.5), rgba(20, 27, 105, 0.1), rgba(240, 78, 77, 0.5));
    }
  }

  .SingleChannel-title {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(270deg, #ff716f, #f04d4c);
    color: white;
  }

  .SingleChannel-description {
    display: block;
    // background-color: #ff716f;
    // background: linear-gradient(270deg, #ff716f, #f04d4c);
    padding: 5px 15px;
    word-break: break-all;
    color: black;
  }

  .SingleChannel-socialListZone {
    padding: 5px 15px;

    .SingleChannel-socialList {
      display: inline-block;
      width: 50%;
      height: 20px;
      // padding: 2px;

      .SingleChannel-socialIcon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
      }
      .SingleChannel-socialTitle {
        display: inline-block;
        vertical-align: middle;
        line-height: 16px;
        color: #167ac6;
        margin-left: 3px;
      }
    }
  }

  .SingleChannel-statisticZone {
    display: block;
    padding: 0;
    background: linear-gradient(270deg, #ff716f, #f04d4c);
    .SingleChannel-statistic {
      display: inline-flex;
      width: 25%;
      span {
        display: block;
        width: 100%;
        // background: #141b69;
        padding: 7px;
        color: white;
        text-align: center;
      }
    }
  }

  .SingleChannel-zoneTitle {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(270deg, #bdde37, #a7cc20);
    color: white;
  }

  .SingleChannel-noDatasText {
    padding: 10px 0;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) { 
  .SingleChannel-zone {
    .SingleChannel-titleZone {
      .SingleChannel-photoImage {
        padding: 0;
        margin: 0;
        width: 70px;
      }
    }

    .SingleChannel-statisticZone {
      // padding: 0 0 10px 0;
      .SingleChannel-statistic {
        width: 50%;

        span {
          width: 100%;
        }
      }
    }
  }
}
