@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/placeholders.scss';
@import '../../../styles/keyframes.scss';

.ConfirmModal-invisible {
  display: none;
}

.ConfirmModal-zone {
  @include position(fixed, $top: 0, $left: 0);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.ConfirmModal-contentZone {
  @include position(absolute, $top: 50%, $left: 50%);
  display: inline-block;
  min-width: 300px;
  padding: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #475eb3;

  .ConfirmModal-info {
    color: $white;
    margin-bottom: 20px;
  }

  .ConfirmModal-func {
    display: flex;
    justify-content: space-around;
    span {
      @extend %inline-flex-center;
      width: 60px;
      border-radius: 5px;
      border: 1px solid $white;
      padding: 5px;
      color: $white;
      cursor: pointer;
    }
    span:hover {
      color: yellow;
    }

    svg {
      animation: spin 1s linear infinite;
    }
  }
}

