@import 'normalize.css';

$primary-color: black;

.MainLayout-zone {
  background-color: #e9ebee;
  width: 100%;
  margin-top: 50px;
}

.MainLayout-socialZone {
  position: fixed;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;

  .MainLayout-socialIcon {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #3b5998;
    color: white;
  }

  .MainLayout-socialIcon:hover {
    color: yellow;
  }
}

.MainLayout-fbLikeZone {
  padding: 5px;
}

.MainLayout-pageContent {
  width: 100%;
  overflow: hidden;
}

.MainLayout-footer {
  position: relative;
  background-color: #141b69;
  width: 100%;
  height: 50px;

  .MainLayout-center {
    position: absolute;
    display: inline-block;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.MainLayout-navbar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #141b69;
  z-index: 5;

  .MainLayout-content {
    width: 100%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, 0%);

    .MainLayout-logo {
      position: absolute;
      left: 10px;
      height: 50px;
  
      img {
        margin-top: 5px;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
      }
  
      h1 {
        display: inline-block;
        color: white;
        font-size: 1em;
        line-height: 50px;
        vertical-align: middle;
        padding: 0 10px;
        margin: 0;
      }
    }
  
    .MainLayout-itemsZone {
      position: absolute;
      right: 10px;
      height: 50px;
  
      div {
        position: relative;
        display: inline-block;
        height: 100%;
        padding: 0 10px;
        vertical-align: middle;
        img {
          height: 50px;
        }
        span {
          color: white;
          font-size: 1em;
          line-height: 50px; 
          cursor: pointer;
        }
        span:hover {
          color: yellow;
        }
        a {
          color: white;
          font-size: 1em;
          line-height: 50px; 
        }
        a:hover {
          color: yellow;
        }
        svg {
          margin-top: 10px;
          font-size: 30px;
          color: #dd4e40;
          cursor: pointer;
        }
        svg:hover {
          color: yellow;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {

  .MainLayout-zone {
    margin-top: 100px;
    .MainLayout-navbar {
      height: 100px;
      .MainLayout-content {
        .MainLayout-logo {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .MainLayout-itemsZone {
          position: relative;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
