@import 'normalize.css';
@import '../styles/variables.scss';
@import '../styles/placeholders.scss';
@import '../styles/keyframes.scss';

.Index-zone {
  position: relative;
  width: 100%;
}

.Index-addChannelBar {
  position: relative;
  height: 40px;
  padding: 0px 5px;

  .Index-channelFuncButton {
    padding: 2px 5px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    // right: 5px;
    height: 30px;
    line-height: 26px;
    border-radius: 5px;
    color: $white;
  }

  .Index-search {
    background-color: $red;
    cursor: pointer;
  }

  .Index-search:hover {
    color: $heavy-yellow;
  }
}

.Index-contentZone {
  background-color: white;
}

.Index-functionBar {
  position: relative;
  min-height: 40px;
  padding: 0 5px 0 5px;
  div {
    display: inline-block;
    padding-right: 10px;

    input {
      height: 30px;
      width: 100px;
      padding: 0;
      border-radius: 3px;
    }

    select {
      height: 30px;
      width: 100px;
      border: 1px solid $light-grey;
      margin: 3px 0;
    }
  }
}
