@import 'normalize.css';

$primary-color: black;

.Index-zone {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin-left: 50%;
  transform: translate(-50%, 0%);

  .Index-addChannelBar {
    position: relative;
    height: 40px;

    div {
      padding: 2px 5px;
      position: absolute;
      display: inline-block;
      top: 5px;
      right: 5px;
      height: 30px;
      line-height: 26px;
      background-color: #e22623;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    div:hover {
      color: yellow;
    }
  }

  .Index-contentZone {
    background-color: white;
  
    .Index-loadingButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      svg {
        height: 30px;
        width: 30px;
        color: #ff8a8a;
        animation: spin 1s linear infinite;
      }
    }
  }
  
  .Index-functionBar {
    position: relative;
    min-height: 40px;
    padding: 0 5px 0 5px;
    div {
      display: inline-block;
      padding-right: 10px;
  
      svg {
        height: 30px;
        width: 30px;
        color: #ff8a8a;
        animation: spin 1s linear infinite;
      }
  
      input {
        height: 30px;
        width: 100px;
        padding: 0;
        border-radius: 3px;
      }
  
      select {
        height: 30px;
        width: 100px;
      }
    }
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

