@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/placeholders.scss';

.YoutubeVideoCard-zone {
  position: relative;
  width: 100%;
}

.YoutubeVideoCard-imgDiv {
  @extend %inline-flex-center;
  width: 35%;
  height: 150px;
  overflow: hidden;
  vertical-align: text-top;
  padding: 0;
  margin: 0;

  @media (max-width: $medium-screen) {
    width: 100%;
    height: initial; 
  }
  img {
    height: 90%;
    @media (max-width: $medium-screen) {
      width: 100%;
    }
  }
}

.YoutubeVideoCard-infoDiv {
  display: inline-block;
  padding: 10px;
  width: 65%;
  height: 150px;
  vertical-align: text-top;

  @media (max-width: $medium-screen) {
    width: 100%;
    height: initial;
  }
}
