@import 'normalize.css';
@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.SingleVideo-zone {
  position: relative;
  width: 100%;
  background-color: white;
}

.SingleVideo-playVideoZone {
	min-height: 200px;
	background-color: black;
}

.SingleVideo-title {
  padding: 6px 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(270deg, $red, $heavy-red);
  color: white;
  font-size: 1.4em;
}

.SingleVideo-smallTitle {
  padding: 6px 0;
  text-align: center;
  background: linear-gradient(270deg, $red, $heavy-red);
  color: white;
}

.SingleVideo-zoneTitle {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(270deg, $blue, $heavy-blue);
  color: white;
  font-size: 1.2em;
}

.SingleVideo-statisticZone {
  display: block;
  padding: 0;
  background: linear-gradient(270deg, $red, $heavy-red);
  .SingleVideo-statistic {
    display: inline-flex;
    width: 25%;

    @media (max-width: $medium-screen) {
    	width: 50%;
    }
    span {
      display: block;
      width: 100%;
      // background: #141b69;
      padding: 6px;
      color: white;
      text-align: center;
    	@media (max-width: $medium-screen) {
    		width: 100%;
    	}
    }
  }
}
.SingleVideo-description {
  display: block;
  padding: 5px 15px;
  white-space: pre-line;
  color: black;
}
.SingleChannel-noDatasText {
  padding: 10px 0;
  text-align: center;
}

