$medium-width: 800px;

.ArticleCard-zone {
	position: relative;
	display: block;
  width: 100%;
	background-color: white;
	// height: 80px;
  cursor: pointer;
  &:hover {
    background-color: #ffc1c1;
  }


	.ArticleCard-imageZone {
		display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
		height: 100%;
    width: 60px;

    @media (max-width: $medium-width) {
      width: 30px;
    }

		.ArticleCard-image {
			height: 50px;
      @media (max-width: $medium-width) {
        width: 30px;
      }
		}
	}

  .ArticleCard-commentCountZone {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;

    @media (max-width: $medium-width) {
      width: 30px;
    }

    .ArticleCard-commentCount {
      display: inline-block;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      background-color: #6182bd;
      border-radius: 25px;
      color: white;

      @media (max-width: $medium-width) {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 12.5px;
        font-size: 0.6em;
      }
    }
  }

	.ArticleCard-contentZone {
    position: relative;
		display: inline-block;
		vertical-align: middle;
    width: calc(100% - 120px);
    padding: 5px 5px;

    @media (max-width: $medium-width) {
      width: calc(100% - 60px);
    }

    .ArticleCard-userName {
      padding: 0;
      margin: 0;
      display: block;
      height: 15px;
      width: 100%;
      line-height: 15px;
      font-size: 0.6em;
      color: black;
    }

		.ArticleCard-title {
      padding: 0;
      margin: 0;
			display: block;
      // height: 30px;
      margin-bottom: 15px;
      width: 100%;
      line-height: 30px;
			font-size: 1.6em;
			color: black;
      // white-space: nowrap;
      @media (max-width: $medium-width) {
        font-size: 1em;
      }
		}

    .ArticleCard-date {
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 0.6em;
      color: #888;
    }
	}
}
