/* colors */
$red: #ff5f5f;
$heavy-red: #f04d4c;
$light-red: #ff7d7d;

$heavy-blue: #213684;
$blue: #4c72ff;

$orange: #ff7600; 

$light-grey: #ccc;

$white: #fff;

$heavy-yellow: yellow;

/* Screen size */
$mimi-screen: 600;
$medium-screen: 800;
